// Text Size
$font-size-1: 9px;
$font-size-1-sm: 10px;
$font-size-2: 11px;
$font-size-3: 13px;
$font-size-4: 15px;
$font-size-5: 17px;
$font-size-6: 18px;
$font-size-7: 24px;
$font-size-8: 32px;
$font-size-9: 34px;
$font-size-10: 40px;
$font-size-10-sm: 48px;