@import "../color_schemes/colors.scss";
@import "../color_schemes/colors.scss";

.light-choice .hide-light {display: none;}
.dark-choice .hide-dark {display: none;}

.light-choice .site-logo { background-image: url($logo); }
.dark-choice .site-logo { background-image: url($logo_dark); }

.dark-choice .search-input {color: $body-text-color;}

#theme-switch-container {flex: initial;}

    .theme-switcher {cursor: pointer;}
    .light-choice .theme-switcher .svg-icon {fill: $grey-dk-100;}
    .dark-choice .theme-switcher .svg-icon {fill: $grey-lt-300;}

    .dot-mark {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 24px;
        border-width: 1px;
        border-style: solid;
        box-shadow: inset 1px 1px 3px 0px black;
    }
    .dark-choice .dot-mark {
        border-color: $grey-dk-100;
        background-color: $grey-dk-200;
    }
    .light-choice .dot-mark {
        border-color: $grey-dk-100;
        background-color: $area-white;
    }
    .theme-switcher.active .dot-mark {background-color: $box-mid;}


.light-choice .btn:focus, .light-choice .btn:focus:hover, .light-choice .btn.selected:focus {
    box-shadow: 0 0 0 2px $box-mid;}
.dark-choice .btn:focus, .dark-choice .btn:focus:hover, .dark-choice .btn.selected:focus {
    box-shadow: 0 0 0 2px $box-strong;}

.question .svg-icon {fill: $link-color;}
.question.open .svg-icon {fill: lightcoral;}
.question .svg-icon.opened { display: none; }
.question.open .svg-icon.closed { display: none; }
.question.open .svg-icon.opened { display: block; }

.light-choice .footer-text {color: $grey-dk-000;}
.dark-choice .footer-text {color: $grey-dk-000;}