@import "colors.scss";

.light-choice .hide-light {display: none !important;}
.dark-choice .hide-dark {display: none !important;}

.light-choice .site-logo { background-image: url($logo); }
.dark-choice .site-logo { background-image: url($logo_dark); }

.dark-choice .search-input {color: $body-text-color;}

#theme-switch-container {flex: initial;}

    .theme-switcher {cursor: pointer;}
    .light-choice .theme-switcher .svg-icon {fill: $grey-dk-100;}
    .dark-choice .theme-switcher .svg-icon {fill: $grey-lt-300;}

    .dot-mark {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 24px;
        border-width: 1px;
        border-style: solid;
        box-shadow: inset 1px 1px 3px 0px black;
        cursor: pointer;
    }
    .dark-choice .dot-mark {
        border-color: $grey-dk-100;
        background-color: $grey-dk-200;
    }
    .light-choice .dot-mark {
        border-color: $grey-dk-100;
        background-color: $area-white;
    }
    .theme-switcher.active .dot-mark, .dot-mark.active {background-color: $box-mid;}


.breadcrumb-nav-list-item { font-size: $font-size-4 !important; }


.light-choice .btn:focus, .light-choice .btn:focus:hover, .light-choice .btn.selected:focus {
    box-shadow: 0 0 0 2px $box-mid;}
.dark-choice .btn:focus, .dark-choice .btn:focus:hover, .dark-choice .btn.selected:focus {
    box-shadow: 0 0 0 2px $box-strong;}

.question .svg-icon {fill: $link-color;}
.question.open .svg-icon {fill: lightcoral;}
.question .svg-icon.opened { display: none; }
.question.open .svg-icon.closed { display: none; }
.question.open .svg-icon.opened { display: block; }

.slideshow {
    margin-top: 16px;
    padding: 8px;
    overflow: hidden;
}
    .mySlides {
        display:none;
        border: 8px solid black;
        box-shadow: 0px 0px 8px 0px black;
    }
    .light-choice .mySlides {border-color: $area-white;}
    .dark-choice .mySlides {border-color: $color-light;}
    .slideshow-overlay {
        display: none;
        position: absolute;
        width: 100%; height: 100%;
        z-index: 10;
    }   
        .slideshow-overlay svg {width: 60px; height: 60px;}
        .slideshow:hover .slideshow-overlay {
            display: block;
            background-color: rgba(140,140,140,0.33);
        }
    .slide-indicators .dot-mark {margin: 8px;}
    .slide-indicators .dot-mark:first-child {margin-left: 0;}
    .slide-indicators .dot-mark:last-child {margin-right: 0;}


code {background-color: initial;}
    
.footer-text {font-weight: 600;}
.light-choice .footer-text {color: $grey-dk-000;}
.dark-choice .footer-text {color: $grey-dk-000;}
