// Text:
$color-highlight: #00f;
$color-light: rgb(60, 60, 60);
$color-normal: #000;

// Flächen
$area-white: #f9f9f9;
$area-info: #e8f7fd;
$area-good: #defde0;
$area-attention: #fcf7e0;
$area-danger: #fde8e8;

// kleine Fläche / Zellenhintergrund / Abgrenzung
$box-strong: #1879aa;
$box-mid: #6abfea;
$box-light: #ddf2ff;
$box-table: $area-good;