@import "../custom/colors.scss";
@import "../custom/big.scss";

// Settings 
$body-text-color: $color-light;
$body-heading-color: $color-normal;

$link-color: $box-strong;

$btn-primary-color: $box-strong;
$base-button-color: transparent;

$sidebar-color: $grey-lt-000;
$nav-child-link-color: $box-strong;
$table-background-color: $box-table;
