@import "../custom/colors.scss";
@import "../custom//big.scss";

// Settings (customized from 'dark')

$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $color-light;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$search-result-preview-color: $grey-lt-100;

$nav-child-link-color: $box-mid;
$link-color: $box-mid;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $color-light;
$feedback-color: darken($sidebar-color, 3%);

$base-button-color: $grey-dk-200;
$btn-primary-color: $box-strong;
