{%- if site.footer_content -%}
  <p class="text-small footer-text mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<p class="text-small footer-text mb-0">
  kleiner-brauhelfer-2 auf <a href="http://github.com/kleiner-brauhelfer/kleiner-brauhelfer-2">GitHub</a> und bei <a href="http://hobbybrauer.de/forum/viewtopic.php?f=3&t=21510">hobbybrauer.de</a>.
</p>
<p class="text-small text-grey-dk-000 mb-0 mr-2">
Seite zuletzt ge&auml;ndert am  <span class="d-inline-block">{% last_modified_at %}</span>.
</p>
